# Suivi des liens symboliques 
Options +FollowSymlinks 

# Activation du mod rewrite d'Apache 
RewriteEngine On

#index.php vers accueil.html
RewriteRule ^accueil\.html$ /index.php 
RewriteRule ^parametre\.html$ /parametre.php 

# A CORRIGER QUAND LES PAGES SERONT FAITES
RewriteRule ^sujet1\.html$ /pages.php?sujet=1 
RewriteRule ^sujet2\.html$ /pages.php?sujet=2 
RewriteRule ^sujet3\.html$ /pages.php?sujet=3
# A CORRIGER QUAND LES PAGES SERONT FAITES

#Redirection 404
ErrorDocument 404 /controllers/404.php