/* font-family: 'Raleway', sans-serif; */
:root {
	--main-bg-color: #d3d6de;
	--headFootColor: #7d87ab;
	--clearColor: #e6efff;
	--accent-color: #efd283;
}

.darkMode {
	--main-bg-color: #1c202f;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--main-bg-color);
}

header {
	height: 1vh;
	background-color: var(--headFootColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3vw;
	font-family: 'Raleway', sans-serif;
	border-bottom: 2px solid black;
}

#headerCat,
#headerSettings {
	width: 40vw;
}

.headerButtonCat {
	font-size: 1em;
	border: none;
	background-color: transparent;
}
.headerButtonCat:hover,
i:hover {
	color: var(--accent-color);
	/* border-bottom: 1px solid var(--accent-color); */
	transition: 0.5s ease;
}

#headerLogo {
	display: flex;
	justify-self: center;
	align-self: center;
	width: 20vw;
}

#headerLogo img {
	width: 18vw;
	margin-bottom: -3vh;
}

#headerSettings {
	display: flex;
	justify-content: end;
}

header i {
	margin-right: 1vw;
	font-size: 1.4em;
}
header i:hover {
	transform: rotate(180deg);
	transition: 0.5s ease;
}

/* ================ FOOTER ================= */
footer {
	height: 1vh;
	background-color: var(--headFootColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3vw;
	font-family: 'Raleway', sans-serif;
	border-top: 2px solid black;
	margin-bottom: 0;
}
#rightFooter {
	width: 30vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#rightFooter a {
	text-decoration: none;
	color: black;
}
#rightFooter a:hover {
	color: var(--accent-color);
	transition: 0.5s ease;
}
/* ================= 404 ===================== */
#errorContainer {
	width: 100vw;
	/* height: 70vh; */
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5vh 0;
}
#errorContainer img {
	height: 80%;
}
#errorContainer h1,
#errorContainer h2 {
	background-color: rgba(255, 255, 255, 0.06);
	padding: 1vh;
	border-radius: 20px;
}
