/* font-family: 'Raleway', sans-serif; */
:root {
	--main-bg-color: #d3d6de;
	--headFootColor: #7d87ab;
	--clearColor: #e6efff;
	--accent-color: #efd283;
}

.darkMode {
	--main-bg-color: #1c202f;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--main-bg-color);
}

header {
	height: 1vh;
	background-color: var(--headFootColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3vw;
	font-family: 'Raleway', sans-serif;
	border-bottom: 2px solid black;
}

#headerCat,
#headerSettings {
	width: 40vw;
}

.headerButtonCat {
	font-size: 1em;
	border: none;
	background-color: transparent;
}
.headerButtonCat:hover,
i:hover {
	color: var(--accent-color);
	/* border-bottom: 1px solid var(--accent-color); */
	transition: 0.5s ease;
}

#headerLogo {
	display: flex;
	justify-self: center;
	align-self: center;
	width: 20vw;
}

#headerLogo img {
	width: 18vw;
	margin-bottom: -3vh;
}

#headerSettings {
	display: flex;
	justify-content: end;
}

header i {
	margin-right: 1vw;
	font-size: 1.4em;
}
header i:hover {
	transform: rotate(180deg);
	transition: 0.5s ease;
}

/* ================ FOOTER ================= */
footer {
	height: 1vh;
	background-color: var(--headFootColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3vw;
	font-family: 'Raleway', sans-serif;
	border-top: 2px solid black;
	margin-bottom: 0;
}
#rightFooter {
	width: 30vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#rightFooter a {
	text-decoration: none;
	color: black;
}
#rightFooter a:hover {
	color: var(--accent-color);
	transition: 0.5s ease;
}
/* ================= 404 ===================== */
#errorContainer {
	width: 100vw;
	/* height: 70vh; */
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5vh 0;
}
#errorContainer img {
	height: 80%;
}
#errorContainer h1,
#errorContainer h2 {
	background-color: rgba(255, 255, 255, 0.06);
	padding: 1vh;
	border-radius: 20px;
}
/* =============== SETTINGS ============== */
#settingsContainer {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}
#settingsContainer img {
	width: 35vw;
}
#checkboxesDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#checkboxesDiv ul li {
	list-style: none;
}
#settingsContainer img {
	margin-bottom: 5vh;
}
#settingsContainer label,
button,
select {
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
}
#btnDiv {
	margin-top: 4vh;
	display: flex;
	justify-content: center;
}
#btnDiv button {
	border: none;
	background-color: var(--headFootColor);
	color: white;
	padding: 2vh 2vw;
	border-radius: 20px;
}
#btnDiv button:hover {
	/* border: 1px solid black; */
	background-color: #1c202f;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
	transition: 0.5s;
}
/* ================== third View ================== */
.thirdContainer {
	width: 30vw;
	margin: 2vh 2vw;
}
.thirdContainer img {
	width: 100%;
	height: auto;
	border-radius: 1vw;
}

.thirdContainer a {
	text-decoration: none;
	color: black;
	font-family: 'Raleway', sans-serif;
}
.thirdContainer .article {
	padding: 1em;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 1vw;
	/* background-color: red; */
}
.thirdContainer .link {
	text-align: end;
}
/* ================== full width View ================== */
.fullWidthContainer {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 4vh;
}
.fullWidthContainer img {
	width: 100%;
	height: auto;
	border-radius: 1vw;
}
.fullWidthContainer .article {
	width: 30%;
	padding: 1em;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	border-radius: 1vw;
}
.fullWidthContainer a {
	text-decoration: none;
	color: black;
	font-family: 'Raleway', sans-serif;
}
